module.exports = {
  root: true,
  env: {
    browser: true,
    es2021: true,
    node: true,
  },
  extends: [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "airbnb/hooks",
    "prettier", // 避免 ESLint 和 Prettier 规则冲突
  ],
  parser: "@typescript-eslint/parser",
  parserOptions: {
    ecmaFeatures: {
      jsx: true,
    },
    ecmaVersion: "latest",
    sourceType: "module",
  },
  plugins: ["react", "@typescript-eslint"],
  rules: {
    "react/react-in-jsx-scope": "off", // Next.js 不需要引入 React
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "react/prop-types": "off", // TypeScript 处理了 props 类型
    "no-console": "warn", // 避免过多 console.log
    "react/jsx-props-no-spreading": "off", // 允许 props 透传
  },
  settings: {
    react: {
      version: 'detect'
    }
  },
};
